apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: patient-service-db
  namespace: patient-management
spec:
  serviceName: patient-service-db
  replicas: 1
  selector:
    matchLabels:
      app: patient-service-db
  template:
    metadata:
      labels:
        app: patient-service-db
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: POSTGRES_PASSWORD
          readinessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - admin_user
                - -d
                - db
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - admin_user
                - -d
                - db
            initialDelaySeconds: 15
            periodSeconds: 20
          volumeMounts:
            - name: patient-db-data
              mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
    - metadata:
        name: patient-db-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
