apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: patient-management
spec:
  type: ClusterIP
  selector:
    app: kafka
  ports:
    - name: client
      port: 9092
      targetPort: 9092
      protocol: TCP
    - name: external
      port: 9094
      targetPort: 9094
      protocol: TCP
