apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: patient-management
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      initContainers:
        - name: wait-for-auth
          image: busybox:1.36
          command: ['sh', '-c', 'until nc -z auth-service 4005; do echo "Waiting for auth-service..."; sleep 2; done']
        - name: wait-for-patient
          image: busybox:1.36
          command: ['sh', '-c', 'until nc -z patient-service 4000; do echo "Waiting for patient-service..."; sleep 2; done']
      containers:
        - name: api-gateway
          image: api-gateway:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4004
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 4004
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 4004
            initialDelaySeconds: 40
            periodSeconds: 20
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
