apiVersion: v1
kind: Service
metadata:
  name: billing-service
  namespace: patient-management
spec:
  type: ClusterIP
  selector:
    app: billing-service
  ports:
    - name: http
      port: 4001
      targetPort: 4001
      protocol: TCP
    - name: grpc
      port: 9001
      targetPort: 9001
      protocol: TCP
