apiVersion: v1
kind: Service
metadata:
  name: patient-service
  namespace: patient-management
spec:
  type: ClusterIP
  selector:
    app: patient-service
  ports:
    - port: 4000
      targetPort: 4000
      protocol: TCP
